html,
body,
p,
ol,
ul,
li,
textarea,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: inside;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}
.menu-text {
  writing-mode: vertical-rl;
  font-size: 51px;
  z-index: 99;
}
.menu {
  width: 60px;
  height: 300px;
  display: flex;
  background-color: gray;
  position: relative;
}
.submenu {
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  transform: translateX(-100%);
}
.menu:hover .submenu {
  transform: translateX(33%);
  transition: ease-in-out 200ms;
}
.submenu-item {
  height: 17%;
}
.submenu-link {
  color: #fff;
}
.submenu-link:hover {
  color: orangered;
}
